{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
 org.clojure/data.xml {:mvn/version "0.0.8"}
 fipp/fipp {:mvn/version "0.6.26"}
 aero/aero {:mvn/version "1.1.6"}
 org.clojure/tools.cli {:mvn/version "1.0.219"}
 clj-http/clj-http {:mvn/version "3.12.3"}
  clojure.java-time/clojure.java-time {:mvn/version "1.4.2"}
  }
 :paths ["src" "classes"]
 :aliases
 {:run-m {:main-opts ["-m" "jhimanka.saa"]}
  :run-x {:ns-default jhimanka.saa
          :exec-fn -main
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6" :git/sha "8e78bcc"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd" :git/url "https://github.com/cognitect-labs/test-runner"}}}}
 }
